@mixin btn {
    font-size: 20px;
    color: #fff;
    padding: 10px 20px 10px 50px;
    border-radius: 5px;
    background-color: $primaryColor;
    font-weight: 700;
    transition: all .5s;
    &:hover {
        color: #fff;
        background-color: rgb(202, 130, 53);
    }
    span{
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background: url(../../assets/img/telephone-fill.svg);
            width: 20px;
            height: 20px;
            left: -25px;
            top: 50%;
            transform: translateY(-40%);
        }
    }
}
$primaryColor: rgba(197,143,86,1);
* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

body{
    margin: auto;
    padding: 0;
    font: 16px Verdana, Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: rgba(60,60,60,1);
}
//header
.header {
    background-color: $primaryColor;
    height: 15px;
}
//locksmith
.locksmith__title {
    text-align: center;
    background-color: #3c3c3c;
    color: #fff;
    margin: 0;
    padding: 8px 0;
    font-size: 33px;
    font-weight: bold;
    line-height: 1.2;
}
.locksmith__inner {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.locksmith__img {
    width: 100%;
}
.locksmith__dscr {
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin: 8px 0;
}
.locksmith__wrapper {
    background-color:#3c3c3c;
    text-align: center;
    padding: 8px 0;
    border-radius: 5px;
}
.locksmith__btn {
    @include btn();
}
//
.services {
}
.services__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    margin: 30px 0;
}
.services__box {
    display: flex;
    justify-content: center;
    ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 200px;
        row-gap: 10px;
    }
}
.services__list {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}
//locksmith2
.locksmith2 {
    margin-top: 50px;
}
.locksmith2__box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.locksmith2__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.locksmith2__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 50px;
}
.locksmith2__dscr {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
    span{
        font-weight: 900;
    }
}
.locksmith2__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
//change
.change {
    margin: 50px 0;
}
.change__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 30px;
}
.change__dscr {
    font-size: 16px;
    line-height: 1.5;
    span{
        font-weight: 900;
    }
}
//team
.team {
    margin-top: 80px;
}
.team__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 50px;
}
.team__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}
.team__wrapper{
    text-align: center;
}
.team__wrapper2 {
    outline: auto;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.team__img {
    max-width: 100%;
    object-fit: cover;
}
.team__name {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
}
.team__age {
    margin-bottom: 5px;
}
.team__dol {
    font-size: 16px;
    line-height: 1.5;
    span{
        font-weight: 700;
    }
}
.team__min-img {
    border-radius: 50%;
    width: 20px;
    margin-right: 10px;
}
//min
.min {
    margin: 80px 0;
}
.min__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 50px;
}
.min__box {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.min__inner {
    display: flex;
    align-items: center;
    gap: 20px;
}
.min__img {
    border-radius: 50%;
}
.min__name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
}
//ambulance
.ambulance {
    background-color: $primaryColor;
    padding: 8px 0;
}
.ambulance__box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
}
.ambulance__title {
    font-weight: 700;
    color: #fff;
    margin: 0;
}
.ambulance__btn {
    @include btn();
    background-color: #3c3c3c;
    &:hover {
        background-color: black;
    }
}